{% extends "accountBase.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}ログアウト完了{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'account/css/logged_out.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="contents">
        <h1 class="lilita-one-regular">ManaTask</h1>
        <h2 class="raleway-400">You have been logged out.</h2>
        <a href="{% url 'login' %}">
            {% bootstrap_button button_type='button' content='Sign in' size='md' button_class='btn btn-link' %}
        </a>
    </div>
</div>
{% endblock %}