{% extends "base.html" %}
{% load static %}
{% block title %}一覧ページ{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'task/css/list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>検索結果</h2>
    <a href="{% url 'task:index' %}" class="index"><< タスク一覧</a>
    <div class="items">
        {% if results %}
        {% for task in results %}
        <div class="item">
            <div class="info">
                期限：{{ task.deadline }} 最終編集日：{{ task.update_at }}
            </div>
            <div class="item_tail">
                <p class="task">
                    {% if task.priority <= 3 %}
                    <span class="priority_u3">{{ task.priority }}</span>
                    {% elif task.priority <= 7 %}
                    <span class="priority_u7">{{ task.priority }}</span>
                    {% else %}
                    <span class="priority_u10">{{ task.priority }}</span>
                    {% endif %}
                    {{ task.task }}
                    {% if task.comp_flg == True %}
                    (完了)
                    {% endif %}
                </p>
                <div class="task_menu">
                    <a href="{% url 'task:delete' task.pk %}" class="delete">削除</a>
                    <a href="{% url 'task:update' task.pk %}" class="edit">編集</a>
                    <a href="{% url 'task:comp' task.pk %}" class="comp">完了</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>該当するタスクは見つかりませんでした</p>
        {% endif %}
    </div>
</div>
{% endblock %}