@charset 'UTF-8';

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 80px auto auto auto;
    padding: 20px;
    color: #fff;
    border-radius: 16px;
    box-shadow: 4px 4px 4px #d9d9d9;
}

h2 {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 36px;
}

.items {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.container button, .button {
    width: 120px;
    height: 40px;
    background-color: #fc5858;
    outline: none;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.container button:hover {
    background-color: #cc4747;
}

.container a {
    color: #551A8B;
    display: block;
}

.container .button {
    color: #fff;
    text-decoration: none;
    background-color: #38A169;
}

.container .button:hover {
    background-color: #2e8557;
}

.container a:hover {
    color: #fff;
}